.cursor-pointer {
  cursor: pointer !important;
}

.font-italic {
  font-style: italic !important;
}

.font-bold {
  font-weight: bold !important;
}

.image-postcast {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.image-postcast>img {
  max-height: 130px
}